*{
    margin: 0;
}

#logo{
    width: 150px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: white;
    /* position: fixed; */
    /* width: 100vw; */
}

#nav-links{
    display: flex;
    column-gap: 40px;
    
}

nav button{
    background-color: white;
    padding: 10px 10px;
    height: fit-content;
    border-color: rgb(226, 77, 159);
    border-width: 2px;
    border-style: solid;
    /* border: 2px solid rgb(226, 77, 159); */
}
#hero-section{
    background-image: url(../assets/images/cafe-background.jpg);
    height: 100vh;
    width: 100vw;
    background-size: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    background-position: center;

}
#headertext{
 font-size: 60px;
}