*{
    margin: 0;
}

#logo{
    width: 150px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background-color: white;
    /* position: fixed; */
    width: 100vw;
}

#nav-links{
    display: flex;
    column-gap: 40px;
    
}

nav button{
    background-color: white;
    padding: 10px 20px;
    height: fit-content;
    /* border-color: blanchedalmond; */
    box-shadow: none;
    border: 2px solid rgb(226, 77, 159);
}